<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @perf_method.name %>
</p>

<p>
  <b>Total time:</b>
  <%= @perf_method.total_time %>
</p>

<p>
  <b>Self time:</b>
  <%= @perf_method.self_time %>
</p>

<p>
  <b>Calls:</b>
  <%= @perf_method.calls %>
</p>

<p>
  <p>Caller:</b>
  <% if @perf_method.parent.nil? %>
  none (root)
  <% else %>
  <%= link_to @perf_method.parent.name, [@app, @perf_benchmark, @perf_test, @perf_thread, @perf_method.parent] %>
  <% end %>
</p>

<b>Callees (slower first):</b>
  <ul>
  <% @perf_method.children.order("perf_methods.total_time DESC").each do |child| %>
    <li><%= link_to child.name, [@app, @perf_benchmark, @perf_test, @perf_thread, child] %></li>
  <% end %>
</ul>

