<p id="notice"><%= notice %></p>

<% if @prev_benchmark and @curr_benchmark %>
  <p>Total time for <%= link_to @prev_benchmark.commit, [@app, @prev_benchmark] %>: <b><%= @prev_benchmark.total_time %>s</b></p>
  <p>Total time for <%= link_to @curr_benchmark.commit, [@app, @curr_benchmark] %>: <b><%= @curr_benchmark.total_time %>s</b></p>

  <% if @differences.empty? %>   
    <p>The performance differences are being calculated. Depending on the amount of tests, this analysis can take some time. Please wait a few minutes and refresh this page.</p>
  <% else %>
    <% negative_differences = @differences.find_all { |el| el.difference > 0.0 } %>
    <% positive_differences = @differences.find_all { |el| el.difference < 0.0 } %>
    
    <%= render :partial => "comparison", :locals => { :differences => negative_differences, :message => "When advancing from <b>#{@prev_benchmark.commit}</b> to <b>#{@curr_benchmark.commit}</b>, the following methods became slower" } %>
    <%= render :partial => "comparison", :locals => { :differences => positive_differences, :message => "On the other hand, the following methods became faster" } %>    
  <% end %>
<% end %>


