<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app.name %>
</p>

<p>
  <b>Repository:</b>
  <%= @app.repository %>
</p>

<p>
  <b>Frequency:</b>
  <%= @app.frequency %>
</p>

<p>
  <b>Benchmark history:</b>
  <%= @app.benchmark_history %>
</p>

<p>
  <b>Performance benchmarks:</b>
  <ul>
  <% @app.perf_benchmarks.each do |perf_benchmark| %>
    <li><%= link_to perf_benchmark.commit, [@app, perf_benchmark] %> (<%= link_to 'destroy', [@app, perf_benchmark], :confirm => 'Are you sure?', :method => :delete %>)</li>
  <% end %>
  </ul>
</p>

<p>
  <b>Compare performance:</b>
  <% form_tag(compare_app_path(@app)) do %>
    <%= label_tag :commit1, "From commit:" %>
    <%= select_tag :commit1, options_for_select([""] + @app.perf_benchmarks.collect { |pb| [pb.commit, pb.commit] }) %>
    <%= label_tag :commit1, "To commit:" %>
    <%= select_tag :commit2, options_for_select([""] + @app.perf_benchmarks.collect { |pb| [pb.commit, pb.commit] }) %>
    <%= submit_tag "Analyze" %>
  <% end %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
